{% load static %}
<!DOCTYPE html>
<html lang="uk">
<head>
	<title>{{title}}</title>
	<link type="text/css" href="{% static 'notes/css/styles.css' %}" rel="stylesheet" />
</head>
<body>

<header>
    {% block header %}
    {% endblock %}
</header>


{% block content %}
{% endblock %}

{% block animator %}
    <div class="animator">
        <svg  height="100" width="auto">
            <circle cx="10" cy="50" r="50" fill="gold">
                <animate attributeName="cx" from="0" to="2000" dur="10s" fill="freeze" repeatCount="10"/>
            </circle>
        </svg>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <div class="contacts">
                <h3><span>Контакти автора</span></h3>
                <div>
                    <a id="link1" href="https://www.linkedin.com/in/serhii-miroshnychenko-mariupol/" target="_blank">
                        <img alt="Linkedin" src="{% static 'notes/images/Linkedin.png' %}" />
                    </a>
                    <a href="https://www.sololearn.com/" target="_blank" target="_blank">
                        <img alt="SoloLearn" src="https://www.sololearn.com/Uploads/icons/sololearn.png" />
                    </a>
                    <a id="link2" href="https://github.com/SerhiiMiroshnychenko" target="_blank">
                        <img alt="GitHub" src="{% static 'notes/images/GitHub.png' %}" />
                    </a>
                </div>
            </div>
            <!-- Contacts section end -->

            <div class="copyright">
                &copy; 2023 Notes. All rights reserved.
            </div>
    </footer>
{% endblock %}
</body>
</html>

