{% extends 'notes/base.html' %}


{% block header %}
    <h1>ПОШУК</h1>
{% endblock %}

{% block content %}

    <div class="forma">
        <form action="{% url "search" %}" method="GET">
    <input type="text" name="title" />
    <button type="submit">Пошук</button>
</form>
    <h1>Результат:</h1>
        <ul>
            {% for note in object_list %}
                <div class="note">
                    <p style="color: darkgoldenrod">{{ note.category }}</p>
                    <h1>{{note.title}}</h1>
                    {{note.text|truncatewords:20}}
                    <h2>{{note.reminder}}</h2>
                    <p><a style='text-decoration: none;
                          color: khaki;
                          margin: 100px;
                          font-size: 18px;
                          background-color: rgb(43,84,131);
                          font-weight: bold;' href="/post/{{ note.id }}/">читати нотатку</a></p>
                </div>
            {% endfor %}
        </ul>

    </div>

{% endblock %}
